.background {
    background-color: #f4f4f4;
}

ion-card#carDetailsCard {
    height: 96%;
}

ion-car#carDetailsContent {
    padding-block-end: 0px;
}

.no-scroll .scroll-content {
     overflow: hidden;
}

ion-icon.availability {
    font-size: 16px;
}

div.table {
    padding-left: 20px;
}

ion-col div.names {
    padding: 3px;
    text-align: left;
}

ion-col div.values {
    padding: 3px;
    text-align: center;
}

ion-col.bookCarButton {
    padding-top: 0px;
}