.background {
    background-color: #f4f4f4;
}

div.table {
    padding: 10px;
}

ion-col div.names {
    padding: 5px;
    text-align: left;
}

ion-col div.values {
    padding: 5px;
    text-align: center;
}
