.ios {
    .bar-button-menutoggle {
        color: #cf1000 !important;
    }

}

.back {
    background-color: #f4f4f4;
}

.no-scroll .scroll-content{
     overflow: hidden;
}

.profile-photo  {
    width: 100% !important;  
    height : 100% !important;  
    max-width: 65px !important;  //any size
    max-height: 65px !important; //any size 
}