<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button color="danger2" (click)="dismiss()">
        Cancel
      </button>
    </ion-buttons>
     <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button color="danger2" type="submit" style="font-weight: bold" (click)="save()" >
        Save
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="no-scroll">

  <form>

  <ion-list inset no-lines>

    <ion-item *ngFor="let user of users" >
      
      <ion-avatar item-left>
        <img src="{{pathForImage(lastImage)}}">
        <p style="text-align: center;">
          <a ion-text color="danger2" style="font-size: 12px;" (click)="chooseProfilePhoto()">edit</a>
        <p>
      </ion-avatar>
      
      <h2>{{user.firstname}} {{user.lastname}}</h2>
      <p>{{user.username}}</p>
    
    </ion-item>
  
  </ion-list>

    <ion-list inset>
      
      <ion-item *ngFor="let user of users">
        <ion-label stacked>Address</ion-label>
        <ion-input type="text" name="address" autocapitalize="words" [(ngModel)]="user.address" >{{user.address}}</ion-input>
      </ion-item>

      <ion-item *ngFor="let user of users">
        <ion-label stacked>Phone</ion-label>
        <ion-input type="text" name="phone" [(ngModel)]="user.phone" [textMask]="{mask: mask}" >{{user.phone}}</ion-input>
      </ion-item>

      <ion-item *ngFor="let user of users">
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" name="email" autocapitalize="none" [(ngModel)]="user.email" >{{user.email}}</ion-input>
      </ion-item>

    </ion-list>

  </form>

</ion-content>
